@import '/src/scss/templates';

.badge {
  display: flex;
  width: fit-content;

  padding: 5px 12px;

  border-radius: 100px;

  @extend %text-badge;

  &--normal {
    background-color: #29cc97;
  }

  &--low {
    background-color: #fec400;
  }

  &--high {
    background-color: #f12b2c;
  }
}
