@import '/src/scss/templates';

.badge {
  display: flex;
  width: fit-content;

  padding: 5px 12px;

  border-radius: 100px;

  @extend %text-badge;

  &--green {
    background-color: #29cc97;
  }

  &--yellow {
    background-color: #fec400;
  }

  &--red {
    background-color: #f12b2c;
  }

  &--grey {
    background-color: #f0f1f7;
    color: #9fa2b4;
  }
}
